<div data-extend-template="/simple.html">
   <div data-block="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default panel-login">
                        <div class="panel-heading">
                            <h3 class="panel-title">Change lost password</h3>
                        </div>
                        <div class="panel-body">
                            <alert type="{{ alert.type }}" ng-if="alert.message.length">{{ alert.message }}</alert>
                            <form name="subscribeForm" ng-submit="submitForm(subscribeForm.$valid)" ng-init="setFormScope()" role="form" ng-show="alert.type != 'success'">
                                <fieldset>
                                    <input type="hidden" ng-model="user.email" name="email">
                                    <input type="hidden" ng-model="user.token" name="token">
                                    <div class="form-group" ng-class="{'has-error': errors.newPassword || user.newPassword != user.newPassword_confirmation}">
                                        <label>New password</label>
                                        <input class="form-control" type="password" id="newPassword" name="newPassword" ng-model="user.newPassword" required ng-required="true">
                                        <span class="help-inline" ng-if="errors.newPassword">{{ errors.newPassword }}</span>
                                    </div>

                                    <div class="form-group" ng-class="{'has-error': user.newPassword != user.newPassword_confirmation}">
                                        <label>Comfirm new password</label>
                                        <input class="form-control" type="password" id="newPassword_confirmation" name="newPassword_confirmation" ng-model="user.newPassword_confirmation" required ng-required="true">
                                        <span class="help-inline" ng-if="user.newPassword != user.newPassword_confirmation">Confirmation password is not the same as the new password</span>
                                    </div>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Send">
                                </fieldset>
                            </form>
                            <a href="#/login" class="btn btn-primary btn-block" ng-hide="alert.type != 'success'">
                                Login
                            </a>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="#/login">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>