<div data-extend-template="/layout-panel-footer.html">
    <div data-block="panel-title">{{ authentification.username }}</div>
    <div data-block="panel-content">
        <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
                <img gravatar-src="authentification.email" gravatar-size="100">
            </div>
            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>Username:</td>
                            <td>{{ authentification.username }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ authentification.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div data-block="panel-footer">
        <a href="#/user/edit" data-original-title="Edit profile" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
            <fa name="edit"></fa> Edit
        </a>
    </div>
</div>