<ng-include src="'/app/partials/layout/menu.html'"></ng-include>

<div class="container" ng-show="article">
	<div class="col-md-12">
	    <h1>{{ article.title }}</h1>
	    <p>{{ article.body }}</p>
	    <div>
			<span class="badge">Posted {{ article.created_at }}</span>
			<a href="#/category/{{article.category.id}}" class="label label-default">{{ article.category.name }}</a>

			<div class="pull-right">
				<div class="btn-group">
			        <a class="btn btn-default" href="#/recipes/{{ article.id }}/edit">
		        		<fa name="pencil"></fa>
			        </a>
			        <a class="btn btn-default" href="#/recipes/{{ article.id }}/delete">
		        		<fa name="trash-o"></fa>
			        </a>
			    </div>
			</div>
		</div>
     </div>
</div>

<ng-include src="'/app/partials/layout/footer.html'"></ng-include>