<div data-extend-template="/layout.html">
    <div data-block="content">
		<div class="col-md-12" ng-show="article">
		    <h1>{{ article.title }}</h1>
		    <div btf-markdown="article.body"></div>
		    <div>
				<span class="badge">Posted {{ article.created_at }}</span>
				<a href="#/categories/{{ article.category.id }}/articles" class="label label-default">
					{{ article.category.name }}
				</a>

				<div class="pull-right">
					<div class="btn-group">
				        <a class="btn btn-default" href="#/recipes/{{ article.id }}/edit">
					<fa name="pencil"></fa>
				        </a>
				        <a class="btn btn-default" href="#/recipes/{{ article.id }}/delete">
					<fa name="trash-o"></fa>
				        </a>
				    </div>
				</div>
			</div>
	     </div>
	</div>
</div>
