<div data-extend-template="/layout.html">
    <div data-block="content">
		<div class="col-md-12" ng-show="article">
		    <h1>{{ article.title }}</h1>
			<img src="{{ article.image }}" ng-if="article.image.length" class="img-rounded left recipe-image">

			<a class="btn btn-link" ng-click="parse(); isCollapsed = !isCollapsed;" ng-show="!isCollapsed">
				Change yield
			</a>

			<div class="form-inline" collapse="!isCollapsed">
				<div class="form-group">
				    <label>Number of personnes</label>
					<select ng-model="currentYield" ng-change="changeQuantity(currentYield)" ng-options="yield for yield in yields" class="form-control"></select>
				</div>
			</div>

		    <div btf-markdown="article.body" class="recipe-body"></div>

		    <div class="cb recipe-meta">
				<span class="badge">Posted {{ article.created_at }}</span>

				<a href="{{ article.url }}" target="_blank">
					<span ng-if="article.sourceFavicon.length">
						<img alt="" class="favicon" src="{{ article.sourceFavicon }}"/>
					</span>
					<span ng-if="!article.sourceFavicon.length">
						<fa name="globe"></fa>
					</span>
					{{ article.sourceSite }}
				</a>

				<a href="#/categories/{{ article.category.id }}/articles">
					{{ article.category.name }}
				</a>

				<div class="pull-right">
					<div class="btn-group">
				        <a class="btn btn-default" href="#/recipes/{{ article.id }}/edit">
							<fa name="pencil"></fa>
				        </a>
				        <a class="btn btn-default" href="#/recipes/{{ article.id }}/delete">
							<fa name="trash-o"></fa>
				        </a>
				    </div>
				</div>
			</div>
	    </div>

	    <div class="col-md-12">
	    	<h2>Notes</h2>
			<ul class="media-list">
			  <li class="media well" >
					<div class="pull-left">
			    		<img class="media-object" gravatar-src="authentification.email" gravatar-size="50">
			    	</div>
			    	<div class="media-body">
						<alert type="success" ng-if="alert.length">{{alert}}</alert>

						<form name="noteForm" role="form" ng-submit="submitForm(noteForm.$valid)" >
							<div class="form-group" ng-class="{'has-error': errors.body}">
								<textarea class="form-control" type="text" name="body" ng-model="note.body" required ng-required="true" rows="5"></textarea>
								<div ng-if="note.body.length">
									<h3>Preview</h3>
	                            	<div btf-markdown="note.body"></div>
	                            </div>
	                            <span class="help-inline" ng-if="errors.body">{{ errors.body }}</span>
                        	</div>

	                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Add">
						</form>
			    	</div>
			  </li>
			  <li class="media well" ng-repeat="note in article.notes" ng-show="article.notes">
			  	<div class="pull-left">
			    	<img class="media-object" gravatar-src="note.user.email" gravatar-size="50">
			    </div>
			    <div class="media-body">
					<div btf-markdown="note.body"></div>
					<hr/>
					<span>Posted by {{ note.user.username }}</span>
			    </div>
			  </li>
			</ul>
			<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" ng-show="itemsPerPage < totalItems"></pagination>
	    </div>
	</div>
</div>
