<menu></menu>

<div class="container-fluid">
    <div class="row">
	    <div class="col-sm-3 col-md-2 sidebar">
			<sidebar></sidebar>
		</div>
	    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-show="articles">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="article in articles">
					<a href="#/recipes/{{article.id}}">{{article.title}}</a>
					<span class="pull-right">
						<a href="#/category/{{article.category.id}}" class="label label-default">{{article.category.name}}</a>
					</span>
				</li>
			</ul>
			<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" ></pagination>
		</div>

		<div class="container" ng-if="articles.length == 0">
			<alert>No recipes found</alert>
		</div>
	</div>
</div>

<footer></footer>