<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/app">Home</a></li>
        <li ng-if="authentification.logged" ><a href="#/recipes">Recipes</a></li>
      </ul>

        <div class="col-sm-4 col-md-4">
            <form class="navbar-form " role="search" ng-if="authentification.logged" name="search" ng-submit="searchForm(search.$valid)" ng-init="setFormScope(this)" >
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" ng-model="query" name="query">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><fa name="search"></fa></button>
                    </div>
                </div>
            </form>
        </div>
      <ul class="nav navbar-nav navbar-right" ng-if="authentification.logged">
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <fa name="plus"></fa> <fa name="caret-down"></fa>
          </a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="#/recipes/add">Recipe</a></li>
          </ul>
        </li>
        <li><a href="#/profile">Welcome {{ authentification.username }}</a></li>
        <li><a href="#/logout">Logout</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
