<div class="list-group">
	<div ng-repeat="category in categories" class="list-group-item" ng-style="{'border-left-color':category.color}" ng-mouseover="showEditCategory = category.id" ng-mouseleave="showEditCategory = -1">
		<a ng-href="#/categories/{{category.id}}/articles">{{ category.name }}</a>
		<a ng-href="#/categories/{{category.id}}/edit" class="right edit-btn" ng-hide="showEditCategory != category.id">
			<fa name="edit"></fa>
		</a>
    </div>

    <div class="list-group-item" ng-show="existNoCategory > 0">
		<a ng-href="#/recipes/uncategorize">Others</a>
    </div>
</div>
